<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" /><link rel="stylesheet" href="/static/main.css" type="text/css" />
<title>atomstr - add feed</title></head><body>
<div id="title"><h1><a class="title" href="/">atomstr</a></h1></div>


<br />
<h2>{{.Status}}</h2>
<br />
{{if (ne .Feed.URL "")}}
<table>
	<tbody>
	<th>URL</th>
	<th class="opener">Open in</th>
		<tr>
			<td>{{.Feed.URL}}</td>
			<td>
				<a href="https://snort.social/p/{{.Feed.Npub}}">Snort</a>
				<a href="https://nostrudel.ninja/#/u/{{.Feed.Npub}}">noStrudel</a>
				<a href="https://primal.net/profile/{{.Feed.Npub}}">Primal</a>
        <a href="nostr:{{.Feed.Npub}}">Native</a>
			</td>

		</tr>
	</tbody>
</table>
{{end}}

<br />
<p><a href="/"><b>Back</b></a></p>
</body>
</html>
